<div>
    <form>
        <label><input type="checkbox" ng-change="refresh()" name="wheechair" ng-model="form.wheelchair"
                      ng-true-value="(yes|limited)"> Wheelchair Access</label>
        <label><input type="checkbox" ng-change="refresh()" name="food" ng-model="form.food" ng-true-value="yes"> Serves
            food</label>
        <label><input type="checkbox" ng-change="refresh()" name="outside_seating" ng-model="form.outside_seating"
                      ng-true-value="yes"> Has outside seating.</label>
    </form>
    <leaflet center="amsterdam" height="400px" markers="markers" event-broadcast="events"></leaflet>
    <ul>
        <li ng-repeat="pub in pubs" data-osm="{{pub.id}}">
            <article>
                <h3>{{pub.name}}
                    <small>{{pub.distance | number:0}}m</small>
                </h3>
                <p>{{pub.description}}</p>
            </article>
        </li>
    </ul>
</div>